body{background-color: #f3f3f3}
/*导航*/
.yy-nav-bar{ background-color: #323232; border-color: #323232; min-height: 55px; border-radius: 0; margin-bottom: 0}
.yy-nav-bar .logo{ width:180px; height: 55px; /*background: url(../img/logo.png) no-repeat center center;*/ line-height: 1000px; overflow: hidden;}
.yy-nav-bar .navbar-nav>li>a{color: #999; padding-top:20px;}
.yy-nav-bar .more{ width:60px; height:55px;  overflow: hidden; background: url(../img/more.png) no-repeat center center; line-height: 100px}
.yy-nav-bar .issue{ color: #333;text-overflow: ellipsis; white-space: nowrap;}
.yy-nav-bar .issue span{ color: #666; margin-right: 5px;}
.yy-nav-bar .navbar-right .label-danger{ border-radius: 50%;font-size: 10px; padding: 0; font-weight: normal; top:0; position: absolute; display: block; min-width: 14px; height: 14px; line-height: 14px; overflow: hidden; top:12px; right:5px;}
.yy-nav-bar .navbar-right .userDownList{ list-style: none; padding:0;}
.yy-nav-bar .navbar-right .userDownList a{ color: #333; margin-bottom: 5px; display: block;}
.topBanner{ height:121px; background: url(../img/topBanner.png) no-repeat center center;}
/*topBar*/
.topBar{border-bottom: 1px solid #999; background: #fff; margin-bottom: 12px;}
.topBar .topBarL{margin-top: 10px}
.topBar .row{ position: relative}
.topBar .dropdown button{ color: #999}
.topBar .nav-pills{ margin: 0 auto; margin-top: 7px}
.topBar .nav-pills a{ color: #999; font-size: 14px;}
.topBar .nav-pills .dropdown-menu a{ color: #333;}

/*.topBar .nav-pills a:hover{ background: none}*/


.thumbnailsCont{ margin:14px -30px 20px}
.thumbnailsCont .thumbnail .btn-xs{ margin-right:5px; margin-bottom: 5px; color: #999}
.thumbnailsCont .thumbnail .veiwPn{ color: #999}
.thumbnailsCont .thumbnail .veiwPn .glyphicon{ margin-right: 2px; top:2px;}

.thumbnailsCont .thumbnail .info{ height: 50px; line-height:25px;color:#999; overflow: hidden;}
.thumbnail .veiwPn .lable{ margin-right: 8px;}

.pageNav{ text-align: center; color: #999; position:relative; height: 50px;}
.pageNav a{ display: inline-block; margin-right:5px; color: #999}
.pageNav .active{ color: #333}
.pageNav .pager{ position:absolute; top:-10px; right:0; margin:0;}
.pageNav .pager li>a{ width:45px; height:45px; background: #d5d5d5; border-radius:50%; border:0;line-height: 45px;}
.pageNav .pager li>a:hover{ background:#b6b6b6;}
.pageNav .pager .glyphicon{ color: #fff; font-size: 22px; top:6px; left:2px;}
.pageNav .pager .glyphicon-menu-left{ left:-2px;}
/*注册*/
.registerPn{ padding-top: 30px;}
.registerPn .form-horizontal{ width:60%}
.registerPn .followCode .col-sm-10{ padding-right: 160px; position:relative;}
.registerPn .followCode .posRight{ position:absolute;right:10px; top:0;}
.registerPn .followCode .checkCodeBtn{ display: inline-block; padding:6px 12px; background: #999999; color:#fff; border:1px solid #dcdce0; right:25px}
.registerPn .followCode .imgCode{  right:65px; top:10px;}
/*公用*/
.btnLarPl{ padding-left:50px; padding-right: 50px;}
.mb30{ margin-bottom: 30px;}
.mb10{ margin-bottom: 10px;}
.mb5{ margin-bottom: 5px;}
.mr10{ margin-right: 10px;}
.mr5{ margin-right: 5px;}
.mt5{ margin-top: 5px;}
.mt20{ margin-top: 20px;}
.fc3{ color: #333!important}
.fc9{ color:#999;}
.fc6{ color: #666;}
.fcr{color: #ff2a00}
.mt30{ margin-top: 30px;}
.mb20{ margin-bottom: 20px;}
.mr20{ margin-right: 20px}
.vLine{ margin:0 20px; vertical-align: text-top; position: relative; top:-3px;}

.progressNomarl{ margin-bottom: 0; border-radius: 0; height: 5px; width:140px; margin-right: 10px;}
.progressNomarl .progress-bar{ background-color: #00b19d}

/*页尾*/
.footer{ color: #999; background: #fff; padding-top: 15px; font-size: 12px;}
.footer a{ color: #999; font-size: 12px; line-height: 21px;}
.footer .about{ margin-top: 10px; text-overflow: ellipsis;
 white-space: nowrap;}
 .footer .phone{ margin-top: 10px; font-size: 18px;}
 .footer .cooperatePn span{ color: #999}
 .footer .cooperatePn div{ padding-left: 40px; background: url(../img/footerBg.png) no-repeat;}
 .footer .cooperatePn .icn2 {background-position:0 -48px;}
 .footer .cooperatePn .icn3 {background-position:0 -96px;}

 .loginAlert .modal-content{ background: #333; border-color:#333; color:#999; font-size: 12px; padding-bottom: 60px;}
 .loginAlert .modal-content a{ color:#999; font-size: 12px;}
 .loginAlert .modal-content .close{ color: #999}
 .loginAlert .modal-content .modal-header{border-bottom: 0}
 .loginAlert .alertLogo{ height:32px; background:url(../img/alertLogo.png) no-repeat center center;}
 .loginAlert .shareBtn{ display: block;  height:62px; background:url(../img/share.png) no-repeat; }
 .loginAlert .progress{ width: 100%; position:absolute; bottom:0;left:0; margin-bottom: 0;}

 .myNav{border-bottom: 2px solid #dedede; list-style: none; padding-left: 0; margin-bottom: 0;}
 .myNav > li{position: relative;display: block; float:left; margin-bottom:-2px;}
 .myNav > li> a{position: relative;display: block; float:left; color: #999; margin-right: 40px; padding: 10px 0} 
 .myNav > li> .tit {display: inline-block;color: #999;padding: 10px 0}
 
 .myNav > li> a:hover,
 .myNav > li> a:active{ text-decoration: none;}
 .myNav >li.active>a { color: #333;border-bottom: 2px solid #666; text-decoration: none;}
 .navSubPill{ background-color: #fff; height: 35px; border-bottom:0;}
 .navSubPill>li>a{ border-radius: 0; margin-right: 10px; padding:7px 10px; color: #999; text-decoration: none;}
 .navSubPill>li>a:hover,
 .navSubPill>li>a:active{ border-radius: 0; background-color: #fff; text-decoration: none;}
 .navSubPill>li.active>a{ background-color: #fff;border-bottom: 0; color: #333; text-decoration: none;}
 .navSubPill>li.active>a:hover,
 .navSubPill>li.active>a:active{ border-bottom: 0; text-decoration: none;}

 .thumbnailList .thumbnail:hover{background:#d4d4d4}
 .thumbnailList .thumbnail .caption{ color: #999}
 .thumbnailList .thumbnail .btn-xs{ color: #999; margin-bottom: 5px;}
 .thumbnailList .thumbnail .glyphicon-pencil,
 .thumbnailList .thumbnail .operate-up
 {display:none; position: absolute; top:10px; left:30px; width:33px; height: 33px; 
 background-color: #fff; color: #5d5d5d; border-radius:50%; text-align: center;line-height: 2.2; cursor: pointer;}
 .thumbnailList .thumbnail .glyphicon-pencil:hover,
 .thumbnailList .thumbnail .operate-up:hover
 {background-color: #e5e7ec; text-decoration: none;}


 .thumbnailList .thumbnail .glyphicon-trash,
 .thumbnailList .thumbnail .operate-heart
 {display: none; position: absolute; top:10px; left:73px; width:33px; height: 33px; background-color: #fff;  color: #a50000; border-radius:50%; text-align: center;line-height: 2.4; cursor: pointer;}
 .thumbnailList .thumbnail .glyphicon-trash:hover,
  .thumbnailList .thumbnail .operate-heart:hover
 {background-color: #e5e7ec; }
 .thumbnailList .thumbnail:hover .glyphicon-pencil,
 .thumbnailList .thumbnail:hover .glyphicon-trash,
 .thumbnailList .thumbnail:hover .operate-heart,
  .thumbnailList .thumbnail:hover .operate-up
  {display: block}
  .pannelList{ padding-left: 0; list-style: none; padding-top:20px;}
  .pannelList li { margin-bottom: 10px;}
  .pannelList .tagList .btn-xs{ margin-bottom: 5px;}
  .pannelList .tit{color: #999; margin-right: 20px;}



.userChart{ padding-left: 0;  list-style: none;}
.userChart li{ position: relative;}
.userChart li:before{ display: block; position: absolute; width:0; height: 40px; border-right:1px solid #ddd;right:10px; top:10px;
content: " ";
}
.userChart li:last-child:before{
	display: none;
}
.glyphicon-exclamation-sign{ color: #f6a623; font-size: 20px; margin-right: 5px; top:4px;}
.selectPut{ border:1px solid #ccc; color: #999; position: relative; float: left; border-radius:5px; padding: 3px 8px; margin-right:6px; font-size: 12px; margin-top:6px; cursor: pointer; }
.select{ border:1px solid #ff2a08; }
.selectPut .glyphicon{display: none;}
.select .glyphicon{ display: block; color: #ff2a08; font-size: 8px; position: absolute; bottom:0; right: -10px;}
.addBtn{ float: left; margin-top: 6px; padding:2px 10px 3px}
.addBtn span{ left:1px}

.selectMode{height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}
.yyFormListPn{ background: #fff; border:1px solid #ddd; border-top: none; padding: 0 20px; margin-bottom: 40px;}





