body,div,p,ul,li,textarea,form,input,h1,h2,h3,h4,h5,dl,dt,dd,img,section,article,aside,header,footer,nav,dialog,figure,hgroup,button{margin:0;padding:0;font-size:14px;color:#666}
html,body{height:100%}
body{background-color:white;font-family:"\5FAE\8F6F\96C5\9ED1",Helvetica;-webkit-user-select:none;-webkit-text-size-adjust:none;min-width:320px}
ul,ol,li{list-style:none}
a{text-decoration:none;color:#1064b2;-webkit-tap-highlight-color:rgba(0,0,0,.5);-webkit-user-select:none}
*{-webkit-tap-highlight-color:rgba(0,0,0,0)}
img{border:0}
section,article,aside,header,footer,nav,dialog,figure,hgroup{display:block}
i,cite,em,var,address{font-style:normal}
textarea{-webkit-appearance:caret;-webkit-tap-highlight-color:rgba(0,0,0,0)}

@font-face{
  font-family:t;
  src:url('http://dongyingzi.github.com/dc/img/FZY1JW.TTF')  format('truetype');
  /*src: url('http://mat1.gtimg.com/www/mb/actimg/img/t_120522.eot');  IE9 Compat Modes */
  /* Safari, Android, iOS */
     /* url('http://mat1.gtimg.com/www/mb/actimg/img/t_120522.eot?#iefix') format('embedded-opentype'),  IE6-IE8 */
  } 
  .dcCred{ color: #f60}

/* 清除浮动 */
.clear:after {content:'.';clear:both;display:block;height:0;visibility:hidden; font-size:0;line-height:0}

.dcHeader{ width:100%; position: relative; background: url(../img/dcTopBg.png); height:44px; -webkit-background-size: 320px 44px; text-align: center;}
.dcHeader h1{text-shadow: 1px 1px 0 #000;font-family:t; height:44px; line-height: 44px; font-size:20px; overflow: hidden; color: #fff}

.dcIcn1,
.dcIcn2,.dcIcn4{ width:50px; height: 44px; background: url(../img/dcIcn1.png) no-repeat center center; -webkit-background-size:auto 24px; position: absolute; top:0; left: 10px}

.dcIcn2{ background-image: url(../img/dcIcn2.png); left: auto; right: 10px;-webkit-background-size:auto 30px; }
.dcIcn4{ background-image: url(../img/dcBack.png); -webkit-background-size:auto 25px; }


.dcTags{ margin-top:10px; padding-left: 10px}
.dcTags li{ float: left; text-align: center; height: 20px; line-height: 20px; padding:0 8px; border-radius:3px; background: #f0f0f0; color: #666; margin-right: 10px;}
.dcTags .select{ background: #ca491d; color: #fff}
.dcTags .dcA{ width: 20px; padding:0; margin-right: 0; background: url(../img/dcArrow.png) center center;-webkit-background-size:auto 20px;}

.dcArea{ margin-top:10px; border-top:1px solid #d2d2d2; padding-top: 10px}
.dcArea li{ float: left; width:50%; overflow: hidden; }
.dcArea .dcAreaItem{ -webkit-box-shadow:0 0 3px #ccc; border:1px solid #e0e0e0; margin:0 10px 10px 10px;}
.dcArea img{ width:100%}
.dcAreaBot{ height: 23px; position: relative; padding-left: 5px}
.dcAreaBot .dcA{ position: absolute; top: 0; right:5px;}
.dcIcn3{ display: inline-block; width:15px; height: 15px; margin-right: 3px; background: url(../img/dcCtPos.png) center center no-repeat; -webkit-background-size:auto 15px; vertical-align: -2px}

.dcBgLogin .clear{ height: 100%}
.dcLogin{width:62%; float: left; height: 100%;background: url(../img/dcMainBg.png); position: relative;}
.dcIframe{ width: 38%; float: left; height: 100%; border: none; overflow: hidden; scroll:none;}
.dcLogin .dcLoginRig{ position: absolute; top:0; bottom: 0; height: 100%; right: 0; width:10px;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,1))}
.dcTopHeadPic{padding:25px 0 30px; text-align: center;/*-webkit-box-shadow:-8px 0px 10px #1c1c1c inset;*/}
.dcTopHeadPic img{ width: 100%; border-radius: 50%;}
.dcTopHeadPic .dcTopImg{ border:5px solid rgba(0,0,0,0.2); border-radius: 50%; width: 100px; height: 100px; overflow: hidden; margin: 0 auto}
.dcTopHeadPic p{ color: #fff; font-size: 16px; margin-top: 10px}

.dcNav li{ height: 42px; color: #999999; line-height:42px;text-shadow: 1px 1px 0 #000;border-top:1px solid rgba(255,255,255,0.2); border-bottom:2px solid rgba(0,0,0,0.4); padding-left: 35px;
	/*-webkit-box-shadow:-8px 0px 10px #1c1c1c inset;*/
}
.dcNav .select{ color: #fff; background-color: #3d3d3d;}
.dcNav i{ display: inline-block;width:18px; height:18px;background: url(../img/dcNavListBg.png) no-repeat; margin-right: 3px; vertical-align: -3px;-webkit-background-size:auto 190px;}
.dcNav .dcNavIcn2{ background-position: 0 -43px }
.dcNav .dcNavIcn3{ background-position: 0 -87px }
.dcNav .dcNavIcn4{ background-position: 0 -128px }
.dcNav .dcNavIcn5{ background-position: 0 -173px }

.dcCtPic{ height: 180px;overflow: hidden;}
.dcCtPic img{ width:100%;}
.dcCtInfo h2{ font-size: 20px; margin-top: 10px; padding-left: 10px;}
.dcCtBtn{ text-align: center; margin-top: 25px}
.dcCtBtn button{ width:100px; height: 30px; border: 0; text-align: center; display: inline-block; color: #fff; border-radius: 10px;background: url(../img/dcTopBg.png);  -webkit-background-size: 320px 44px;text-shadow: 1px 1px 0 #000; margin:0 8px; font-size: 16px;}
.dcCtFont1{ margin-top: 12px; line-height: 1.75; padding-left: 10px;}
.dcCtFont2{ margin-top: 25px; line-height: 1.75; color: #333; padding-left: 10px;}

.dcSubNav{ height: 25px; line-height: 25px; text-align: center; color: #fff; background: url(../img/dcMainBg.png); }

.dcCd{ padding:10px 10px 0; }
.dcCdList{ float: left; width: 50%;}
.dcCdList li{ float: left; width: 45%; margin-right:5%; text-align: center; margin-bottom: 2%; position: relative;}
.dcCdList .dcCdMod{ border: 1px solid #eac4b7; border-radius:10%; margin:2px; overflow: hidden; position: relative;}
.dcCdList .select .dcCdMod{ border: 3px solid #d3795b;  margin:0; }
.dcCdList i{ display: none;}
.dcCdList .select i{ display: block; width:15px; height: 15px; border-radius: 50%; background: #d3795b; position: absolute; top: -5px; right: -5px; z-index: 2; font-size: 12px; line-height: 15px; color: #fff}
.dcCdList img{ width:100%; display: block; border-radius: 10%}
.dcCdList .dcCdMod  p{ position:absolute; bottom: 0; left: 0; width: 100%; text-align: center; color: #fff; background: rgba(0,0,0,.5);height: 20%; line-height: 1em; border-radius: 0 0 8px 8px}
.dcCdLarFrm{ float: left; width: 50%;}

.dcCdLar{ border: 1px solid #eac4b7; border-radius:10%; width: 95%; overflow: hidden; position: relative; margin-left: 5%; margin-top:0.5em}
.dcCdLar img{ width: 100%; display: block;border-radius: 10%}
.dcCdName{ text-align: center; margin-top: 0.5em;}
.dcCdLar  .bot{ position:absolute; bottom: 0; left: 0; width: 100%; text-align: center; color: #fff; background: rgba(0,0,0,.5);height: 20%;}
.dcCdRep .dcCdLar{ margin-left: 0; margin-right: 5%}
.dcCdRep .dcCdList li{ margin-right: 0; margin-left: 5%}

.dcCdBot{ position: absolute; bottom: 0; left: 0; width: 100%; height: 34px; background: #e8e8e8;}
.dcCdBot span{ float: left; padding-left: 10px; color: #333; margin-top: 9px}
.dcCdBot dl,.dcCdBot dt,.dcCdBot dd{ float: left;}
.dcCdBot dt{ float: left; height: 15px; padding: 0 2px; line-height: 15px; font-size: 12px; border-radius:5px; background: #333; color: #fff;margin-top: 12px; margin-right: 6px;}
.dcCdBot dd{ width:6px; height: 6px; border-radius: 2px; background: #333; margin:17px 6px 0 0;}
.dcCdBot .select{ background: #d54d1f;}
.dcCdBot div{ position: absolute; right: 0; top: 0; background: #d54d1f; color: #fff; height: 34px; padding: 0 5px; line-height: 34px;}
.dcDd{ background: url(../img/dcDd.jpg); padding: 10px; border-top:1px solid #000;}
.dcDdTit{ text-align: center; color: #999; position: relative;}
.dcDdTit i{ border-top:1px solid rgba(67,67,67,0.6);border-bottom:1px solid rgba(67,67,67,0.6); background: rgba(67,67,67,0.7); height: 1px; line-height: 1px; overflow: hidden; display: block; width: 100%; position: absolute; top:50%; left: 0; }
.dcDdTit span{ display: inline-block; padding:0 10px; position: relative; z-index: 2;background: url(../img/dcDd.jpg);}
.dcDdUl{ padding-top: 10px;}
.dcDdUl li{ position: relative;}
.dcDdUl .dcDdImg{ width:60px; height: 60px; overflow: hidden; border-radius:8px; float: left;}
.dcDdUl .dcDdImg img{ width: 100%; border-radius:8px;}
.dcDdUl .dcDdInfo{ color: #fff; padding-left: 10px; float: left; padding-top: 5px;}
.dcDdUl .dcDdOpt{ position: absolute; background: #fff; top: 5px; right: 0; border-radius: 8px; color: #333;}
.dcDdUl .dcDdOpt i{ display: inline-block; width:23px; text-align: center; background: url(../img/dcTopBg.png); border-radius: 8px 0 0 8px; color: #fff}
.dcDdUl .dcDdOpt .rig{  border-radius: 0 8px 8px 0 ;}
.dcDdUl .dcDdOpt em{ display: inline-block; width: 20px; text-align: center;}

